<div class="background">
<div class="acercade">
    <div>
    <img class ="imagenyo"  src="https://i.postimg.cc/0jkq7890/20220107-185148.jpg">
  </div>
   <div class="divnombreydescripcion">
   <div class="divnombre">
    <h1> Juan Mitidieri </h1>
   </div>
    <div class="divdescripcion">
    <p>Full Stack Developer Jr. Estudiante de informatica en la UNLP. (casi) Licenciado en administracion </p>
    <p>  <a href="https://www.google.com/maps/place/La+Plata,+Provincia+de+Buenos+Aires/@-34.9218052,-57.9681476,13.75z/data=!4m5!3m4!1s0x95a2e62b1f0085a1:0xbcfc44f0547312e3!8m2!3d-34.9204948!4d-57.9535657" target="_blank"> <img src="https://previews.123rf.com/images/alextanya123rf/alextanya123rf1605/alextanya123rf160500234/56418246-vector-pinpoint-icon-isolated-on-white-background-pinpoint-symbol-pinpoint-sign-pinpoint-icon-for-we.jpg" 
      alt="mapa de la plata"/> </a> La Plata, Buenos Aires (Argentina) </p>
    </div>
  </div>
    <div class="divimagenunlp"> <img src="https://i.postimg.cc/Z53kxMvW/Argentina-Universidad-Nacionalde-La-Plata-UNLP-03.jpg" alt="UNLP">
    </div>
       
   </div>


<div class="expyedu">
    <!-- exp laboral -->
     <div class="tituloexp">
       <h1>Experiencia laboral</h1>
     
     <div class="exp">
        <div class="contenedorimg">
        <img class ="imagenriva"  src="https://i.postimg.cc/C10YwvQc/seguros-rivadavia.jpg">
    </div>
     <div class="divpuestoyexp">
        <h2> Empleado administrativo </h2>
      <div class="divdescripcionexp">
       <p>Seguros Rivadavia  -  Jornada completa</p>
      <p>Encargado de realizar cotizaciones y presupuestos, realizar y cargar pagos, contacto con proveedores y con los 
     distintos centros de atencion a lo largo del pais </p>
     <div class="divaños">
     <p>2018  -  actualidad</p>
     </div>
      </div>
      </div>
     </div>
 
     <!-- educacion -->
    
     <div class="sectionedu">
     <div class="tituloedu">
       <h1>Educación</h1>
 
     <div class="fce">
     <div>
     <div class="edu">
        <div>
        <img class ="imagenfce"  src="https://i1.sndcdn.com/avatars-000323700309-md44kp-t500x500.jpg">
    </div>
     <div class="divfce">
        <h2> Universidad nacional de La Plata - Facultad de Ciencias Economicas</h2>
      <div class="edufce">
       
      <p>Lic. en Administracion de empresas </p>
     <div class="divaños">
     <p>2014  -  2020</p>
     </div>
      </div>
      </div>
     </div>
   </div>
 </div>
 
 <div class="infor">
   <div class="edu">
      <div>
      <img class ="imagenfce"  src="https://scontent.faep9-2.fna.fbcdn.net/v/t1.18169-9/17202840_1311289262297088_4864930702985603494_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=LRPVBUe1l0sAX9MfxA6&tn=01pAGMQBVQtTSeeA&_nc_ht=scontent.faep9-2.fna&oh=00_AT-5oHAnayIVJWuXXA9amdKkbCk0cYyUuevAGx2TN85YLg&oe=6256F39B">
  </div>
   <div class="divfce">
      <h2> Universidad nacional de La Plata - Facultad de Informatica</h2>
    <div class="edufce">
     
    <p>Analista Programador Universitario
   </p>
   <div class="divaños">
   <p>2020  -  actualidad</p>
   </div>
    </div>
    </div>
   </div>
 </div>
 </div>
 </div>

 <div class="myskills">
  <div class="container">
    <h1>My Skills</h1>
    <div class="bar yellow basic" data-skill="SQL"></div>
    <div class="bar orange intermediate" data-skill="Angular"></div>
    <div class="bar orange intermediate" data-skill="Java"></div>
    <div class="bar orange intermediate" data-skill="JavaScript"></div>
    <div class="bar red advanced" data-skill="CSS"></div>
    <div class="bar red advanced" data-skill="HTML"></div>

  </div>
</div>


<!-- proyectos -->

<div class="colorbackground">
<div class="sectionproyect">
  <div class="tituloproyect">
    <h1>Proyectos</h1>
  

  <div class="fce">
  <div>
  <div class="edu">
     <div>
     <img class ="imagenfce"  src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
 </div>
  <div class="divfce">
     <h2> Portafolio web de arquitectura distribuida </h2>
   <div class="edufce">
    
   <p>Angular Spring Boot & MySQL </p>
  
   </div>
   </div>
  </div>
</div>
</div>

<div class="infor">
<div class="edu">
   <div>
   <img class ="imagenfce"  src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
</div>
<div class="divfce">
   <h2> Ta te ti game</h2>
 <div class="edufce">
  
 <p>HTML CSS & JS
</p>

 </div>
 </div>
</div>
</div>
<div class="infor">
<div class="edu">
   <div>
    <a  href="https://www.google.com/maps/place/La+Plata,+Provincia+de+Buenos+Aires/@-34.9218052,-57.9681476,13.75z/data=!4m5!3m4!1s0x95a2e62b1f0085a1:0xbcfc44f0547312e3!8m2!3d-34.9204948!4d-57.9535657" target="_blank"> <img class ="imagenfce" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" 
      alt="mapa de la plata"/> </a>
</div>
<div class="divfce">
   <h2> Reloj analogico </h2>
 <div class="edufce">
  
 <p>HTML CSS & JS
</p>
 </div>
 </div>
</div>
</div>
</div>
